.container {
  padding: 128px 0;
  display: flex;
  gap: 128px;
  max-height: 800px;
  width: 100%;
  justify-content: center;
}

.text {
  max-width: 650px;
  height: 100%;
  overflow-y: scroll;
  background: rgba(255, 255, 255, 0.1);
  padding: 64px;
}

.video {
  height: 100%;
}
