.container {
  display: flex;
  height: fit-content;
  width: fit-content;
  gap: 64px;
  margin-top: 143px;
  z-index: 50;
}

.noraImg {
  border-radius: 370px;
  width: 50%;
  height: auto;
  max-width: 400px;
}

.backImg {
  border-radius: 370px;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  filter: blur(15px);
  object-fit: cover;
  opacity: 70%;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 16px;
  max-width: 600px;
  width: 100%;
}

.title {
  font-size: 64px;
}

.subTitle {
  font-size: 32px;
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 64px;
    padding: 16px;
    height: 80%;
    width: 100%;
  }
  .subTitle {
    font-size: 16px;
  }
  .title {
    font-size: 32px;
  }
}

@media only screen and (max-width: 480px) {
  .noraImg{
    width: 100%;
  }
  .container{
    justify-content: space-around;
  }
}
