.container {
  display: flex;
  height: fit-content;
  width: fit-content;
  gap: 64px;
  margin-top: 143px;
  z-index: 50;
}

.noraImg {
  border-radius: 370px;
  width: 50%;
  height: auto;
  max-width: 400px;
}

.backImg {
  border-radius: 370px;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  filter: blur(15px);
  object-fit: cover;
  opacity: 70%;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 16px;
  max-width: 600px;
  width: 100%;
}

.title {
  font-size: 64px;
}

.subTitle {
  font-size: 32px;
}
