.navContainer {
  display: flex;
  width: 100%;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 64px;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(15px);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}

.menu,
.menuOff {
  display: flex;
  gap: 32px;
}

.link {
  all: unset;
  border-bottom: solid 2px rgba(255, 255, 255, 0);
  transition: 0.5s;
}

.link:hover {
  border-bottom: solid 2px white;
  transition: 0.5s;
  cursor: pointer;
}

.title {
  /* color: var(--light-Cream, #f9f2e8); */
  font-size: 32px;
}

.wspButton {
  display: flex;
  padding: 8px 32px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 16px;
  border: 2px solid hsl(277, 100%, 30%);
  /* background-color: hsl(127, 52%, 80%); */
  transition: 0.5s;
}

.wspButton:hover {
  box-shadow: 0px 0px 15px 5px hsla(0, 0%, 0%, 0.1),
    0px 0px 100px 100px hsla(35, 59%, 94%) inset;
  transition: 0.5s;
  cursor: pointer;
  border: 2px solid var(--light-Cream, #f9f2e8);
  color: #9620df;
}

.menuButton {
  display: none;
}
.xButton {
  display: none;
}
.none {
  display: none;
}

@media only screen and (max-width: 800px) {
  .menuOff {
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: absolute;
    top: -1000px;
    transition: 0.5s;
    height: 100vh;
    width: 100vw;
  }
  .menu {
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: absolute;
    top: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 32px;
    transition: 0.5s;
    height: calc(100vh - 100%);
    width: 100vw;
    font-size: 20px;
    justify-content: center;
    align-items: center;
  }
  .wspButton {
    border: none;
    padding: 0;
  }
  .navContainer {
    gap: 32px;
  }
  .menuButton,
  .xButton {
    display: flex;
    filter: invert();
    transition: 0.5s;
    padding: 2px;
  }
  .menuButton:hover,
  .xButton:hover {
    transition: 0.5s;
    padding: 0px;
    border-radius: 5px;
  }
}
