.biggerCard {
  border-radius: 32px;
  border: 2px solid #fff;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  backdrop-filter: blur(15px);
  box-shadow: 0px 0px 40px 0px rgba(255, 255, 255, 0.6),
    0px 0px 40px 0px rgba(255, 255, 255, 0.6) inset;
  padding: 64px;
  display: flex;
  margin: 64px;
  margin-top: 96px;
  gap: 64px;
  align-items: center;
  justify-content: center;
  max-width: 1196px;
  box-sizing: border-box;
  height: fit-content;
}

.inputName {
  width: 100%;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputContainer2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  height: 100%;
}

.data {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  width: 100%;
  align-items: end;
}

.data2 {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 32px;
  width: 100%;
}

.textarea {
  all: unset;
  border: none;
  outline: none;
  padding: 16px;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
}

.consent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.allWidth {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
}

.buttonWith {
  width: fit-content;
  height: fit-content;
}

.primaryBtn {
  display: flex;
  padding: 16px 32px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 16px;
  border: 2px solid #f9f2e8;
  background: linear-gradient(93deg, #b800ff 0%, #0cf 100%);
  color: white;
  transition: 0.5s;
  width: -webkit-fill-available;
}

.primaryBtn:hover {
  box-shadow: 0px 0px 15px 5px hsla(0, 0%, 0%, 0.1),
    0px 0px 100px 100px hsla(35, 59%, 94%) inset;
  transition: 0.5s;
  cursor: pointer;
  background: linear-gradient(93deg, #b800ff 0%, #0cf 100%);
  border: 2px solid var(--light-Cream, #f9f2e8);
  color: #9620df;
}

/* Ahora procedo hacer las medidas responsive para movile y tablet */
@media (max-width: 1000px) {

  .biggerCard {
    border-radius: 16px;
    padding: 32px;
    margin: 32px;
    height: auto;
    max-height: none;
    width: 100%;
    margin-top: 104.5px;
  }
  .consent{
    overflow: scroll;
    height: 15vh;
  }

  .data{
    gap:16px;
  }
}

@media only screen and (max-width: 480px) {
  .buttons {
    gap: 16px;
  }
}
