.Background {
  background: linear-gradient(
    -45deg,
    hsla(277, 85%, 50%, 0.8),
    hsl(170, 85%, 50%, 0.8),
    hsl(60, 85%, 50%, 0.8),
    hsl(300, 85%, 50%, 0.8)
  );
  background-size: 700% 700%;
  animation: gradient 10s ease infinite;
  height: 100%;
  background-color: rgba(149, 31, 173, 0.5);
  color: var(--dark-fuxia, #9620df);
  font-size: 16px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

button {
  all: unset;
}

* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.bigcard {
  border-radius: 32px;
  border: 2px solid #fff;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  backdrop-filter: blur(15px);
  box-shadow: 0px 0px 40px 0px rgba(255, 255, 255, 0.6),
    0px 0px 40px 0px rgba(255, 255, 255, 0.6) inset;
  padding: 64px;
  display: flex;
  margin: 64px;
  gap: 64px;
  align-items: center;
  justify-content: center;
  max-width: 1196px;
  max-height: 540px;
  box-sizing: border-box;
}

.allscreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: #f9f2e8;
  text-shadow: 0px 0px 80px rgba(0, 0, 0);
}

.allContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Estilo global para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 4px; /* Ancho de la barra de desplazamiento */
  height: 0px;
}

/* Estilo de la barra de desplazamiento en WebKit (Chrome y Safari) */
::-webkit-scrollbar-thumb {
  /* Color de la barra de desplazamiento */
  background-color: rgba(149, 31, 173, 0.5);
  border-radius: 4px; /* Borde redondeado */
  padding: 4px;
}

/* Estilo de la barra de desplazamiento en Firefox */
* {
  scrollbar-width: thin; /* Ancho de la barra de desplazamiento en Firefox */
  scrollbar-color: rgba(149, 31, 173, 0.5) #f1f1f17b; /* Color de la barra de desplazamiento en Firefox */
}

.instagram {
  color: #9620df;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 0.5s;
  text-align: center;
  justify-content: center;
  height: fit-content;
}

.instagram p {
  color: #9620df;
  border-bottom: solid 2px #9620df;
}

.instagram:hover {
  filter: brightness(1000%);
  transition: 0.5s;
  text-shadow: 0px 0px 50px black;
}

.primaryBtn {
  display: flex;
  padding: 16px 32px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 16px;
  border: 2px solid #f9f2e8;
  background: linear-gradient(93deg, #b800ff 0%, #0cf 100%);
  color: white;
  transition: 0.5s;
  width: 50%;
  text-align: center;
}

.primaryBtn:hover {
  box-shadow: 0px 0px 15px 5px hsla(0, 0%, 0%, 0.1),
    0px 0px 100px 100px hsla(35, 59%, 94%) inset;
  transition: 0.5s;
  cursor: pointer;
  background: linear-gradient(93deg, #b800ff 0%, #0cf 100%);
  border: 2px solid var(--light-Cream, #f9f2e8);
  color: #9620df;
}

.buttonSecondary {
  border-radius: 16px;
  padding: 16px 32px;
  width: 50%;
  display: flex;
  justify-content: center;
  transition: 0.5s;
  border: 2px solid var(--light-Cream, #9620df);
  color: #9620df;
  text-align: center;
}

.buttonSecondary:hover {
  box-shadow: 0px 0px 15px 5px hsla(0, 0%, 0%, 0.1),
    0px 0px 100px 100px hsla(35, 59%, 94%) inset;
  transition: 0.5s;
  cursor: pointer;
  border: 2px solid var(--light-Cream, #f9f2e8);
  color: #9620df;
}

.buttons {
  display: flex;
  gap: 32px;
  margin-top: 32px;
  width: 100%;
}

input {
  all: unset;
  border: none;
  outline: none;
  padding: 16px;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  font-size: 16px;
  box-sizing: border-box;
}

select {
  all: unset;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 16px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.biggerCard {
  border-radius: 32px;
  border: 2px solid #fff;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  backdrop-filter: blur(15px);
  box-shadow: 0px 0px 40px 0px rgba(255, 255, 255, 0.6),
    0px 0px 40px 0px rgba(255, 255, 255, 0.6) inset;
  padding: 64px;
  display: flex;
  margin: 64px;
  margin-top: 96px;
  gap: 64px;
  align-items: center;
  justify-content: center;
  max-width: 1196px;
  box-sizing: border-box;
  height: fit-content;
}

/* Ahora procedo hacer las medidas responsive para movile y tablet */
@media (max-width: 1000px) {
  .Background,
  input {
    font-size: 14px;
  }
  .buttonSecondary,
  .primaryBtn {
    border-radius: 8px;
    padding: 8px 16px;
  }
  .bigcard {
    border-radius: 16px;
    padding: 32px;
    margin: 32px;
    gap: 32px;
    height: 100%;
    max-height: none;
  }
}

@media only screen and (max-width: 480px) {
  .buttons {
    gap: 16px;
  }
}
